
.container{
    display: flex;
    flex-wrap: wrap;
}
.click-box{
    width: 100%;
        min-height: 200px;
        cursor: pointer;
        text-align: center;
    display: table;
}
.click-box, .click-box-text::selection{
    background-color: transparent;
}
.click-box-text {
  display: table-cell;
  vertical-align: middle;
  font-family: 'Indie Flower', cursive;
  font-size: 80px;
}
#box-1{
    background-color: rgb(179, 210, 52);
    width: 50%;
}
#box-2{
    background-color: #F79420;
    width: 50%;
}